// gobal font family
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@import '~@fortawesome/fontawesome-free/css/all.min.css';


* {
    font-family: "Space Mono", monospace !important;
}

// navbar edits

/* header stars */

#nav-main-menu-1>.nav-items>.nav-link {
    position: relative;
}

#nav-main-menu-1>.nav-items>.nav-link::before {
    content: "";
    position: absolute;
    left: 0;
    top: 100%;
    width: 0;
    height: 0.10rem;
    background: linear-gradient(-45deg, var(--bs-warning) 50%, var(--bs-danger) 50%);
    transition: all 0.5s ease;
}

#nav-main-menu-1>.nav-items>.nav-link:hover::before {
    width: 100%;
}

.navbar-nav {
    >.dropdown {
        position: unset;
    }

    @media screen and (max-width: 576px) {
        >.dropdown {
            position: relative;
        }
    }

}

.service-dropdown-container {
    padding: 1rem;
    border: none;
    position: absolute !important;
    left: 50% !important;
    transform: translateX(-50%);

    >div {
        display: flex;
        gap: 1rem;

        >.navbar-service-dropdown-item {
            width: 250px;
            height: 250px;
            background-color: rgb(255, 255, 255);
        }

    }

    @media screen and (max-width: 576px) {
        >div {
            display: flex;
            flex-direction: column;
        }
    }

}

.dropdown-service-image-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    cursor: pointer;

    >img {
        grid-row: 1/1;
        grid-column: 1/ span 2;
    }

    >span {
        grid-row: 1/1;
        grid-column: 1/ span 2;
        background-color: rgba(0, 0, 0, 0.55);
        color: var(--bs-warning);
        text-align: center;
        font-weight: bolder;
        border-radius: 11px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        overflow: hidden;
    }

    >span::before {
        content: "More Info";
        border-radius: 11px;
        background-color: var(--bs-warning);
        color: var(--bs-dark);
        width: 100%;
        height: 100%;
        position: absolute;
        top: -100%;
        display: flex;
        justify-content: center;
        align-content: center;
        position: absolute;
        transition: all 0.5s ease;
    }

    >span:hover::before {
        top: 80%;
    }

}

.navbar-cta>button {
    z-index: 3;
}

.navbar-cta-icon {
    position: absolute;
    left: 0;
    transition: all 0.2s ease;
    z-index: 0;
}

.navbar-cta:hover .navbar-cta-icon {
    left: 100%;
}

// heros container

.heros-container {
    padding: 5rem;
    background: linear-gradient(rgba(255, 255, 255, 0.80), rgba(255, 255, 255, 0.80)), url("../components/media/heros-pattern.png");
    background-position: center;
    background-size: cover;

    @media screen and (max-width: 576px) {
        padding: 5rem 0rem;
    }

}

.heros-main-container-text {
    >.fixed-column-type {
        >h2 {
            font-size: 3rem;
            text-shadow: 1.3px 2.5px 0 black;
        }

        @media screen and (max-width : 576px) {
            >h2 {
                font-size: 1.5rem;
                text-shadow: 1px 1.5px 0 black;
            }
        }

    }

}

.heros-img {
    .heros-media-img-container {
        position: relative;

        .heros-main-img {
            position: absolute;
        }

        @media screen and (max-width : 576px) {
            .heros-main-img {
                position: relative;
            }
        }

    }
}

/* social media sidebar starts */

/* social media sidebar for mobile and desktop and tablet */

/* special whatsapp */

.social-media-target-button {
    content: '';
    /* background-color: var(--bs-danger); */
    padding: 0 0.5rem;
    color: var(--bs-danger);
    font-weight: 600;
    cursor: pointer;
    filter: drop-shadow(0 0 0.05rem black);
}

.icon-bar:hover .social-media-bar-content {
    position: relative;
    left: 0;
}

#whatsapp-mobile:hover {
    font-size: 2em;
}

.icon-bar {
    position: fixed;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%) translateX(-70%);
    z-index: 9999999;
    transition: all 0.3s ease;
}

.icon-bar:hover {
    transform: translateY(-50%) translateX(0);
}

.icon-bar a {
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;
}

.icon-bar a:hover {
    background-color: #000;
}

.facebook {
    background: #000000;
    color: white;
}

.twitter {
    background: #55ACEE;
    color: white;
}

.google {
    background: var(--bs-danger);
    color: white;
}

.linkedin {
    background: #007bb5;
    color: white;
}

.whatsapp {
    background: #04AA6D;
    color: white;
}

/* social media sidebar ends */

// perks 

.perks-title {
    .perks-section-main-heading::before {
        font-family: 'Font Awesome 5 Free';
        content: '\f120'; // User icon
        font-weight: 900; // For solid icons
        animation: changeIcons 2s ease-in infinite;
        background-color: var(--bs-warning);
        padding: 1rem;
        border-radius: 14px;
    }

    @keyframes changeIcons {
        0% {
            content: '\f120'; // User icon
        }

        25% {
            content: '\f1d8'; // Bell icon
        }

        50% {
            content: '\f0a1'; // Heart icon
        }

        75% {
            content: '\e4b7'; // Eye icon
        }

        100% {
            content: '\f120'; // Check-circle icon
        }
    }
}

.perks-points {
    list-style: none;
    padding: 0;

    >li {
        padding: 0;
    }

    >li::before {
        font-family: 'Font Awesome 5 Free';
        content: '\f101'; // User icon
        font-weight: 900; // For solid icons
        color: var(--bs-warning);
        padding-right: .5rem;
    }
}

// career

.career-timeline-main-container {
    padding: 8rem 0 0 0;

    .career-timeline-accordion {
        background-color: var(--bs-light);
        outline: 5rem solid var(--bs-light);
        z-index: 0;
        padding: 0 13rem 0 2rem;

        @media screen and (max-width : 576px) {
            padding: 1rem;
        }

    }

    @media screen and (max-width:576px) {
        padding: 2rem 0 0 0;
    }

}

.career-accordion {

    .accordion {
        .accordion-item {
            border: none !important;

            .accordion-button {
                border-radius: 0;
                background-color: var(--bs-dark);
                color: var(--bs-light);
            }

            .accordion-button:focus {
                outline: none;
                /* Removes the default focus outline */
                box-shadow: 0 0 0 3px rgba(255, 165, 0, 0.5);
                /* Custom focus style, orange glow */
                border-color: rgba(255, 165, 0, 0.8);
                /* Optional: Adjust border color */
            }

            .accordion-button::after {
                content: '\25BC';
                /* Unicode for down arrow */
                font-size: 1rem;
                /* Adjust size */
                color: var(--bs-light);
                /* Change the color */
                margin-left: 0.5rem;
                /* Add spacing */
                transition: transform 0.3s ease;
                /* Smooth rotation */
            }

            /* Change the icon for collapsed state */
            .accordion-button.collapsed::after {
                content: '\25BA';
                /* Unicode for right arrow */
                color: var(--bs-warning);
                /* Color for collapsed state */
                transform: rotate(0deg);
                /* No rotation */
            }

            .accordion-collapse {
                background-color: var(--bs-light);
            }

        }
    }

}

// services

.service-card {
    position: relative;
    z-index: 1;
    overflow: hidden;
    transition: all 0.5s ease;
}

.service-card::before {
    content: "";
    width: 0%;
    height: 100%;
    background-color: var(--bs-dark);
    top: 0;
    left: 0;
    position: absolute;
    z-index: -1;
    transition: all 0.5s ease;
}

.service-card:hover::before,
.service-card:hover {
    width: 100%;
    color: var(--bs-light) !important;
}

.service-card:hover>span {
    color: var(--bs-dark) !important;
}

.service-card:hover {
    .service-card-icon {
        background-color: var(--bs-light) !important;

        >* {
            color: var(--bs-dark) !important;
        }

    }

    span {
        color: var(--bs-dark);
    }

}

// tech stack

.tech-stack-tile {
    position: relative;
    z-index: 1;
    transition: all 0.5s ease;
    overflow: hidden;
    border: 2px solid var(--bs-secondary);
}

.tech-stack-tile::before {
    content: "";
    background-color: var(--bs-warning);
    width: 0%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.5s ease;
}

.tech-stack-tile:hover::before {
    width: 100%;
}

#about-me {
    background: var(--bs-dark);
}

// recent blogs

.blog-grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 200px);
    gap: 1rem;

    .recent-blog-1 {
        grid-row: 1 / span 3;
        grid-column: 1 / span 1;
    }

    .recent-blog-container {
        display: grid;
        background-color: var(--bs-secondary);
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);

        .recent-blog-thumbnail {
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
                transform: translateZ(-1) scale(1);
                object-fit: cover; // Ensures the image behaves like background-size: cover
                display: block; // Prevents the image from inheriting inline spacing
            }

        }

        >* {
            grid-row: 1/ span 2;
            grid-column: 1 / span 2;
        }

        .recent-blog-extra {
            background-color: rgba(0, 0, 0, 0.55);
            color: var(--bs-light);
            transition: all 0.5s ease;
        }

        .recent-blog-extra:hover {
            background-color: rgba(138, 136, 136, 0.55);
        }
    }

    .recent-blog-extra {
        display: flex;
        align-items: end;
        padding: 1rem;
    }

    // adjustment for mobile device

    @media screen and (max-width : 576px) {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, 200px);
        gap: 0rem;
        gap: 1rem;

        .recent-blog-1 {
            grid-row: 1 / span 1;
            grid-column: 1 / span 1;
        }
    }
}

// main contact form

.contact-form {

    .form-control:focus,
    .form-select:focus {
        border: 1px solid rgba(254, 193, 53, .5);
        box-shadow: 0px 0px 0px var(--bs-warning) !important;
        outline: 2px solid var(--bs-warning);
    }
}


.quick-links-footer {
    list-style: none;
    padding: 0;

    >li::before {
        font-family: 'Font Awesome 5 Free';
        padding: 1rem;
        content: '\f101'; // User icon
        font-weight: 900; // For solid icons    
    }

}

// work button pop-up

#start-working-pop-up {
    position: fixed;
    max-width: 500px;
    left: 50%;
    top: 50%;
    border: 5px solid rgba(255, 193, 7, 1);
    outline: 100vh solid rgba(0, 0, 0, 0.5);
    border-radius: 14px;
    transform: translate(-50%, -50%);
    z-index: 99999999999;
    background-color: var(--bs-dark);

    
    .form-control:focus,
    .form-select:focus {
        border: 1px solid rgba(254, 193, 53, .5);
        box-shadow: 0px 0px 0px var(--bs-warning) !important;
        outline: 2px solid var(--bs-warning);
    }


    .work-pop-up-close-btn {
        position: absolute;
        left: 100%;
        top: 0%;
        transform: translate(-50%, -50%);
    }

    @media screen and (max-width : 576px) {
        max-width: 100%;
        left: 0;
        top: 0;
        transform: translate(0);

        .work-pop-up-close-btn {
            position: absolute;
            left: 50%;
            top: 100%;
            transform: translate(-50%, -50%);
        }
    }
}

.service-page-heros {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("./media/career.jpg");
    background-position: center center;
    background-size: cover;
}

.service-page-content {

    .form-control:focus,
    .form-select:focus {
        border: 1px solid rgba(254, 193, 53, .5);
        box-shadow: 0px 0px 0px var(--bs-warning) !important;
        outline: 2px solid var(--bs-warning);
    }

    aside.service-get-quote {
        .main-form {
            position: sticky;
            top: 15%;
        }
    }

    aside.service-get-quote.mobile-active {
        >.main-form {
            animation: none;
            transition: transform 0.65s ease;
        }
    }

    aside.service-get-quote.mobile-active {
        >.main-form {
            animation: pop-quote-form-animation 0.5s ease 1;
        }
    }

    @keyframes pop-quote-form-animation {
        0%{
            transform: scale(1) translateY(0);
        }
        50%{
            transform: scale(1.1) translateY(2px);
        }
        100%{
            transform: scale(1) translateY(0);
        }
    }

    @media screen and (max-width: 576px) {
        aside.service-get-quote {
            visibility: hidden;
            width: 100%;
            position: fixed !important;
            left: 50%;
            top: 50%;
            z-index: 999999;
            transform: translate(-50%, -50%);
            outline: 500px solid rgba(0, 0, 0, .8);
        }

        aside.service-get-quote {
            >.main-form {
                transform: translateX(100%);
                transition: transform 0.5s ease !important; 
            }
        }
    

        aside.service-get-quote.mobile-active {
            visibility: visible;

            >.main-form {
                transform: translateX(0%);
            }

        }
    }
}

.service-page-content-plans-models {
    display: flex;
    gap: 1.5rem;
    flex-direction: column;
    padding: 2rem 0;

    .service-model-items {
        padding: 1rem;

        .service-item-price {
            cursor: pointer;
        }

        .service-item-preks-container {

            .service-item-perks {
                list-style: none;
                padding: 0;

                >li::before {
                    font-family: 'Font Awesome 5 Free';
                    content: '\f058';
                    font-weight: 900;
                    padding-right: 0.3rem;
                    color: var(--bs-success);
                }
            }

            .service-item-addons-perks {
                list-style: none;
                padding: 0;

                >li::before {
                    font-family: 'Font Awesome 5 Free';
                    content: '\f058';
                    font-weight: 900;
                    padding-right: 0.3rem;
                    color: var(--bs-light);
                }

            }
        }
    }

}